@use "./font";
@use "./root";

/*-------------------------
    OVERRIDE BOOTSTRAP
---------------------------*/

#body {
  .container-fluid,
  .navbar {
    max-width: var(--mobile-width);
  }

  .navbar {
    padding-bottom: 0;
    margin: auto;
    --bs-gutter-x: 32px;
  }

  .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
  }

  .navbar-toggler:focus {
    box-shadow: 0 0 0 4px var(--clr-yellow);
  }

  .navbar {
    background-color: hsl(200.1, 100%, 62%);
  }

  #navbarNav {
    position: relative;
    background-color: var(--clr-white);
    margin: 32px 12px 0;
    padding: 16px;
    text-align: center;

    &:before {
      content: "";
      position: absolute;
      top: -24px;
      right: 0;
      width: 0;
      height: 0;
      border: 24px solid;
      border-color: transparent var(--clr-white) transparent transparent;
    }
  }

  .navbar-nav {
    margin-top: 16px;
    margin-bottom: 16px;
    gap: 0.8px;

    a {
      font-family: var(--ff-primary);
      font-size: var(--fs-text);
      line-height: var(--lh-text);
      letter-spacing: var(--ls-text);
      color: var(--clr-dark-blue-300);
    }

    .nav-link--special {
      font-size: var(--fs-button);
      display: inline-block;
      background-color: var(--clr-yellow);
      padding: 8px 16px;
      border-radius: var(--br-button);

      text-transform: uppercase;
      color: var(--clr-dark-blue-100);
      font-family: var(--ff-secondary);
      font-weight: var(--fw-900);
    }
  }
}

/*-----------------
    COMMON
-------------------*/

body {
  font-family: var(--ff-primary);
  text-align: center;
}

.main {
  margin: auto;
  max-width: var(--mobile-width);
}

.h1-like {
  color: var(--clr-white);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-900);
  font-size: var(--fs-h1);
  letter-spacing: var(--ls-h1);
  text-transform: uppercase;
}

.h2-like {
  color: var(--clr-dark-blue-100);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-900);
  font-size: var(--fs-h2);
  letter-spacing: var(--ls-h2);

  &--cyan {
    color: var(--clr-dark-cyan);
  }
}

.p-like {
  color: var(--clr-dark-blue-300);
  font-family: var(--ff-primary);
  font-weight: var(--fw-600);
  font-size: var(--fs-text);
  letter-spacing: var(--ls-text);

  &--blue {
    color: var(--clr-blue);
  }
}

.btn {
  color: var(--clr-dark-blue-100);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-900);
  font-size: var(--fs-button);
  letter-spacing: var(--ls-button);
  text-transform: uppercase;

  &--pink,
  &--yellow {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 16px;
      border-radius: var(--br-button);
      opacity: 0.25;
      z-index: -1;
    }
  }

  &--pink:before {
    background-color: var(--clr-soft-red);
  }

  &--yellow:before {
    background-color: var(--clr-yellow);
  }
}

/*-----------------
    COMPONENTS
-------------------*/

.hero {
  width: 100%;
  min-height: 536px;
  background-image: url("../images/mobile/image-header.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  gap: 32px;
  padding-top: 160px;
}

.features {
  --bs-gutter-x: 0;

  &__img-1,
  &__img-2 {
    min-height: var(--feature-height-2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__img-1 {
    background-image: url("../images/mobile/image-transform.jpg");
  }

  &__img-2 {
    background-image: url("../images/mobile/image-stand-out.jpg");
  }

  &__content {
    margin-top: 64px;
    margin-bottom: 64px;
    padding: 0 32px;
  }

  &__subtitle {
    margin: 32px auto;
  }

  &__content-pic-1,
  &__content-pic-2 {
    min-height: var(--feature-height);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    padding: 48px 32px;
  }

  &__content-pic-1 {
    background-image: url("../images/mobile/image-graphic-design.jpg");
  }

  &__content-pic-2 {
    background-image: url("../images/mobile/image-photography.jpg");
  }
}

.testimonials {
  margin: 64px auto;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__title {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: var(--ls-testimonials);
    font-weight: 900;
    font-family: var(--ff-secondary);
    color: var(--clr-dark-blue-400);
    text-transform: uppercase;

    margin-bottom: 64px;
  }

  img {
    border-radius: 100%;
    width: 72px;
    height: 72px;
  }

  &__comment {
    font-size: var(--fs-testimonials);
    line-height: var(--lh-testimonials);
    letter-spacing: var(--ls-text);
    color: var(--clr-dark-blue-200);
    font-weight: var(--fw-600);

    margin: 32px 0;
  }

  &__name {
    font-family: var(--ff-secondary);
    font-size: var(--fs-testimonials);
    line-height: var(--lh-name);
    letter-spacing: var(--ls-text);
    color: var(--clr-dark-blue-100);
    font-weight: var(--fw-900);
  }

  &__position {
    color: var(--clr-dark-blue-300);
    font-size: 15px;
    line-height: 25.6px;
    letter-spacing: -1px;
    font-weight: var(--fw-600);
  }
}

.image-gallary {
  width: 100%;
  margin: auto;

  div {
    min-height: 188px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__1 {
    background-image: url("../images/mobile/image-gallery-milkbottles.jpg");
  }

  &__2 {
    background-image: url("../images/mobile/image-gallery-orange.jpg");
  }

  &__3 {
    background-image: url("../images/mobile/image-gallery-cone.jpg");
  }

  &__4 {
    background-image: url("../images/mobile/image-gallery-sugar-cubes.jpg");
  }
}

.footer {
  background-color: var(--clr-light-cyan);
  padding: 48px 16px;

  .nav {
    a {
      color: var(--clr-dark-cyan);

      &:hover {
        color: var(--clr-white);
        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}

/*-----------------
    MEDIA QUERIES
-------------------*/

@media (min-width: 576px) {
  .hero {
    background-position: center;
  }
}

@media (min-width: 1400px) {
  .main {
    max-width: var(--desktop-width);
  }
  #body {
    .container-fluid,
    .navbar {
      max-width: var(--desktop-width);
    }
    #navbarNav {
      margin: 16px auto;
      background-color: transparent;
      padding: 0;

      &:before {
        display: none;
      }
    }

    .navbar-nav {
      margin-top: 0;
      margin-bottom: 0;
      gap: 24px;

      a {
        color: var(--clr-white);
      }

      .nav-link--special {
        background-color: var(--clr-white);

        &:hover {
          color: var(--clr-white);
          background-color: var(--clr-bg-white);
        }
      }
    }
  }

  .hero {
    min-height: 800px;
    background-image: url("../images/desktop/image-header.jpg");
    background-position: top;

    gap: 64px;
  }

  .features {
    &__content {
      min-height: var(--feature-height);
      margin: 0;
      text-align: left;
      padding: 144px;
    }

    &__img-1 {
      background-image: url("../images/desktop/image-transform.jpg");
    }

    &__img-2 {
      background-image: url("../images/desktop/image-stand-out.jpg");
    }

    &__content-pic-1,
    &__content-pic-2 {
      padding: 0 160px 48px;
    }

    &__content-pic-1 {
      background-image: url("../images/desktop/image-graphic-design.jpg");
    }

    &__content-pic-2 {
      background-image: url("../images/desktop/image-photography.jpg");
    }
  }

  .testimonials {
    margin: 128px auto;
  }

  .image-gallary {
    div {
      min-height: 448px;
    }

    &__1 {
      background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
    }

    &__2 {
      background-image: url("../images/desktop/image-gallery-orange.jpg");
    }

    &__3 {
      background-image: url("../images/desktop/image-gallery-cone.jpg");
    }

    &__4 {
      background-image: url("../images/desktop/image-gallery-sugar-cubes.jpg");
    }
  }
}
